<div class="header">
    <nav class="navbar">
        <div class="container">
            {# <div class="upload_norm_data"> #}
            <ul class="navbar-list icons-nav u-pull-left">
                {% if upload_form %}
                <li class="navbar-item">
                    <form class="upload_form" method="POST" action="{% url 'overseer:submit-file' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ upload_form }}
                    </form>
                    <a class="navbar-link icon" href="#" id="upload_link"><span class="iconicfill-cloud-upload"></span></a>
                </li>
                {% endif %} 
            </ul>
            {# </div> #}
            {# <div class="upload_unnorm_data"> #}
            <ul class="navbar-list icons-nav u-pull-left">
                {% if upload_form %}
                <li class="navbar-item">
                    <form class="upload_raw_form" method="POST" action="{% url 'overseer:submit-raw-file' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ upload_form }}
                    </form>
                    <a class="navbar-link icon" href="#" id="raw_upload_link"><span class="iconicfill-cloud-upload"></span></a>
                </li>
                {% endif %} 
            </ul>
            {# </div> #}
            
            {# <div class="logout"> #}
            <ul class="navbar-list text-nav u-pull-right">
                {% if user.is_authenticated %}
                <li class="navbar-item">
                {{ user.username }}, 
                    <a class="navbar-link" href="{% url 'accounts:logout' %}">
                            Logout
                    </a>
                </li>
                {% endif %}
            </ul>
            {# </div> #}
        </div>
    </nav>
</div>
